<section class="post">
        <h2>Create New Post</h2>

        <form class="project">
            <label for="project-name">Title</label>
            <input class="project-input" type="text" id="project-name">

            <label for="project-details">Content</label>
            <input class="project-input" type="text" id="project-details">
            <div class="post-button">
                <button class="btn-post" type="submit">Create</button>
            </div>

            <footer class="new-post">
                <button class="btn-new-post" type="submit">+ New Post</button>
            </footer>
        </form>
    </section>