<main class="tab-login-sign-up">
    <section class="login-section">
        <h1>Login</h1>

        <form class="login-information">
            <div class="user-username">
                <label for="username-login">Username</label>
                <input class="user-input" type="text" id="username-login">
            </div>
            <div class="user-password">
                <label for="password-login">Password</label>
                <input class="password-input" type="text" id="password-login">
            </div>
            <div class="login-button">
                <button class="btn-login" type="submit">Login</button>
            </div>
        </form>
    </section>

    <section class="sign-up-section">
        <h1>Sign Up</h1>

        <form class="sign-up-information">
            <div class="sign-up-username">
                <label for="new-user-login">Username</label>
                <input class="user-input" type="text" id="new-user-login">
            </div>
            <div class="sign-up-password">
                <label for="password-sign-up">Password</label>
                <input class="password-input" type="text" id="password-sign-up">
            </div>
            <div class="sign-up-button">
                <button class="btn-sign-up" type="submit">Sign Up!</button>
            </div>
        </form>
    </section>
</main>

<script src="./js/login.js"></script>