<section class="login-section">
        <h1>Login</h1>
        <form class="login-information">
            <label for="username-login">Username</label>
            <input class="user-input" type="text" id="username-login">

            <label for="password-login">Password</label>
            <input class="user-input" type="text" id="password-login">
            <div class="login-button">
                <button class="btn-login" type="submit">Login</button>
            </div>
        </form>
    </section>

    <section class="sign-up-section">
        <h1>Sign Up</h1>
        <form class="sign-up-information">
            <label for="new-user-email">Email</label>
            <input class="user-email" type="text" id="new-user-email">

            <label for="new-username">Username</label>
            <input class="user-input" type="text" id="new-username">

            <label for="password-sign-up">Password</label>
            <input class="password-input" type="text" id="password-sign-up">

            <div class="sign-up-button">
                <button class="btn-sign-up" type="submit">Sign Up!</button>
            </div>
        </form>
    </section>

    <a href="/login">Already have an account? Login!</a>

<script src="./js/login.js"></script>