    <section class="sign-up-section">
        <h1>Sign Up</h1>

        <form class="sign-up-information">
            <div class="sign-up-username">
                <label for="new-user-login">Username</label>
                <input class="user-input" type="text" id="new-user-login">
            </div>
            <div class="sign-up-password">
                <label for="password-sign-up">Password</label>
                <input class="password-input" type="text" id="password-sign-up">
            </div>
            <div class="sign-up-button">
                <button class="btn-sign-up" type="submit">Sign Up!</button>
            </div>
        </form>
    </section>

    <a href="/login">Already have an account? Login!</a>

<script src="./js/login.js"></script>